<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right">Agregar</button>
            <table class="table table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Jesus</td>
                    <td>Garcia</td>
                    <td>INE</td>
                    <td>25,000</td>
                    <td>
                        <i class="fa-solid fa-user-pen fa-lg text-info mr-3"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Irving</td>
                    <td>Zuñiga</td>
                    <td>INE</td>
                    <td>50,000</td>
                    <td>
                        <i class="fa-solid fa-user-pen fa-lg text-info mr-3"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
